@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Pinyon+Script&family=Tangerine:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* ................................loader............... */
.loader{
  @apply flex flex-col justify-center items-center h-screen bg-gradient-to-tl from-gray-200 via-red-500 to-gray-200
}
/* ......................nav.................. */
.navHead{
  @apply flex items-center text-white cursor-pointer lg:text-3xl;
  font-family:  'Pirata One', cursive;
}
.loginBtn{
  @apply text-white mr-4 my-6 p-2;
  font-family: 'Pirata One', cursive;
}
.signupBtn{
  @apply border-2 border-gray-500 text-white rounded-xl shadow-xl p-2 w-28;
  font-family: 'Pirata One', cursive;
}
/* ............................home.................. */
.cover{
  background-image: url('/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
/* ...............Home container.......... */
.glass{
  width:40%;
  padding:30px 50px;
  background: rgba(48, 30, 30, 0.25);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  -webkit-backdrop-filter: blur( 2px );
  backdrop-filter: blur( 2px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  @apply flex flex-col
}
.title{
  @apply text-xl lg:text-2xl font-bold;
  
}
.description{
  @apply lg:text-xl leading-10 mb-3;
  font-family: 'Pirata One', cursive;
}
.btnHero{
  @apply bg-red-900 text-white p-2 rounded-lg;
  width:250px;
  font-family: 'Pirata One', cursive;
}
/* .............mobile screen............ */
@media only screen and (max-width:600px){
  .btnHero{
    width:50%;
    font-size:14px;
  }
  .glass{
    width:100%;
    @apply mx-2
  }
}

